.char {
    background: cornflowerblue;
    margin: 20px;
    justify-content: center;
    padding: 15px;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
   
}
.body {
    max-width: 800px;
}
.characters-list {
    display: flex;
    flex-flow: wrap;
    margin: 5px
   
}

h1 {
    margin-bottom: 0;
}
@media(max-width: 500px) {
      div.char {
       padding: 0%;
       width: 89%;
       margin: 10%;
      }
      
  }
 
  